
/* Make Div come from top to bottom */
div{ 
    display: flex;
    margin: auto;
    } 
/* Make horizontal menu */
.navigation{ 
    font-size: 20px;
    cursor: pointer;
}
/* Làm cho các thẻ li trải từ trái qua phải */
.list1 {
    float: left;
    list-style: none;
  }

/* Hiển thị thẻ a như một block */
.version1 {
    display: block;
    padding: 10px;
    background-color: #dddddd;
    /* Bỏ gạch chân phía dưới của link */
    text-decoration: none;
  }


/* Hiệu ứng chuột khi hover lên link */
.version1:hover{ 
    background-color: red;
}

/* Verticle Menu */
.list2 { 
    /* class of li tag */
    list-style: none;
}
.version2{ 
    /* class of a tag */
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: green;
    color: white;
}
.version2:hover { 
    background-color: pink;
    color: magenta;
}